image:
  repository: docker.elastic.co/kibana/kibana
  tag: "7.17.0"
  pullPolicy: IfNotPresent

elasticsearch:
  host: "elasticsearch-logging.openstack.svc.cluster.local"
  port: 80
  username: "admin"
  password: "changeme"

service:
  type: ClusterIP
  port: 5601

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 512Mi
