apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kibana.fullname" . }}
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 5601
        env:
        - name: ELASTICSEARCH_HOSTS
          value: "http://{{ .Values.elasticsearch.host }}:{{ .Values.elasticsearch.port }}"
        - name: ELASTICSEARCH_USERNAME
          value: "{{ .Values.elasticsearch.username }}"
        - name: ELASTICSEARCH_PASSWORD
          value: "{{ .Values.elasticsearch.password }}"
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
